<ul class="nav navbar-nav-custom">
    <li>
        <a>
            <i class="fa fa-bars fa-fw"></i>
        </a>
    </li>
    <li class="dropdown open">
        <a class="dropdown-toggle" aria-expanded="true">
            <i class="gi gi-translate"></i>                
        </a>
        <ul class="dropdown-menu dropdown-custom dropdown-options">
            <li class="dropdown-header text-center">Inglés</li>
            <li class="dropdown-header text-center">Español</li>
        </ul>
    </li>
</ul>