<div class="content-header">
    <div class="header-section">
        <h1>
        <i class="fa fa-users"></i>Usuarios<br>
        <small>Lista de usuarios del sistema</small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="block">
           
            <div class="table-responsive">
                <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Tipo de Usuario</th>
                            <th>Teléfono</th>
                            <th>Rol</th>
                            <th class="text-center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>