<div id="sidebar">
    <div id="sidebar-scroll">
        <div class="sidebar-content">
            <a class="sidebar-brand">
                <span class="sidebar-nav-mini-hide">
                    <strong>ITE</strong>-Resort
                </span>
            </a>

            <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
                <div class="sidebar-user-avatar">
                    <a href="">
                        <img src="assets/img/placeholders/avatars/avatar2.jpg">
                    </a>
                </div>
                <div class="sidebar-user-name">
                    Jonnathan Peña
                </div>
                <div class="sidebar-user-links">
                    <a href="">
                        <i class="gi gi-user"></i>
                    </a>
                    <a href="">
                        <i class="gi gi-envelope"></i>
                    </a>
                    <a href="">
                        <i class="gi gi-cogwheel"></i>
                    </a>
                    <a href="">
                        <i class="gi gi-exit"></i>
                    </a>
                </div>
            </div>

            <ul class="sidebar-nav">
                <li>
                    <a [routerLink]="['']" [ngClass]="menu.menu.escritorio">
                        <i class="gi gi-dashboard"></i>
                        {{ 'Escritorio' | translate }}
                    </a>                    
                </li>
                <li>
                    <a [ngClass]="menu.menu.empresa" [routerLink]="['/empresa']">
                        <i class="gi gi-bank"></i>
                        {{ 'Empresa' | translate }}
                    </a>                    
                </li>
                <li>
                    <a [ngClass]="menu.menu.usuarios" [routerLink]="['/usuarios/nuevo']">
                        <i class="gi gi-user"></i>
                        {{ 'Usuarios' | translate }}
                    </a>                    
                </li>
            </ul>
        </div>
    </div>
</div>