<!--The content below is only a placeholder and can be replaced.-->
<div id="page-wrapper">
    <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
        <app-menu></app-menu>
        <div id="main-container">
            <header class="navbar navbar-default">
                <app-header></app-header>
            </header>  
            <div id="page-content" style="min-height: 985px;">
                <router-outlet></router-outlet>
            </div>          
        </div>
    </div>
</div>