<div class="content-header">
    <div class="header-section">
        <h1>
        <i class="fa fa-user"></i>Nuevo Usuario<br>
        <small>Registro de usuario nuevo</small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="block">
            <!-- Horizontal Form Content -->
            <form class="form-horizontal form-bordered" >
                <div class="form-group">
                    <label class="col-md-3 control-label" for="nombre">Nombre</label>
                    <div class="col-md-9">
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Ingrese Nombre..">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="apellido">Apellido</label>
                    <div class="col-md-9">
                        <input type="text" id="apellido" name="apellido" class="form-control" placeholder="Ingrese Apellido..">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="email">Email</label>
                    <div class="col-md-9">
                        <input type="email" id="email" name="email" class="form-control" placeholder="Ingrese Email..">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="tipo_usuario">Tipo de Usuario</label>
                    <div class="col-md-9">
                        <select id="tipo_usuario" name="tipo_usuario" class="form-control">
                            <option value="">Seleccione</option>
                            <option value="1">Huesped</option>
                            <option value="2">Usuario</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="telefono">Teléfono</label>
                    <div class="col-md-9">
                        <input type="number" id="telefono" name="telefono" class="form-control" placeholder="Ingrese Teléfono..">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="rol_usuario">Rol</label>
                    <div class="col-md-9">
                        <select id="rol_usuario" name="rol_usuario" class="form-control">
                            <option value="">Seleccione</option>
                        </select>
                    </div>
                </div>

                <div class="form-group form-actions">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-envelope"></i> Guardar</button>
                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-repeat"></i> Cancelar</button>
                    </div>
                </div>
            </form>
            <!-- END Horizontal Form Content -->
        </div>
    </div>
</div>